body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #1eff00;
    color: #fff;
}

section {
    margin: 20px 0;
}

footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}